<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>    
      <!-- indicates that the index.js file is a node.js application 
      to be handled by the iisnode module -->    
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>    
      <!-- adds index.js to the default document list to allow 
  URLs that only specify the application root location, 
  e.g. http://mysite.antarescloud.com/ -->    
    <defaultDocument enabled="true">
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument> 

  <staticContent>
    <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
    <mimeMap  fileExtension="woff"  mimeType="application/font-woff" />
    <mimeMap  fileExtension="woff2"  mimeType="application/font-woff" />
  </staticContent>

  <rewrite>
    <rules>
      <rule  name="Handle History Mode and custom 404/500"  stopProcessing="true">
        <match  url="(.*)" />
        <conditions  logicalGrouping="MatchAll">
        <add  input="{REQUEST_FILENAME}"  matchType="IsFile"  negate="true" />
        <add  input="{REQUEST_FILENAME}"  matchType="IsDirectory"  negate="true" />
        </conditions>
        <action  type="Rewrite"  url="index.html" />
      </rule>
    </rules>
  </rewrite>

  <httpErrors>
    <remove  statusCode="404"  subStatusCode="-1"  />
    <remove  statusCode="500"  subStatusCode="-1"  />
    <error  statusCode="404"  path="/survey/notfound"  responseMode="ExecuteURL"  />
    <error  statusCode="500"  path="/survey/error"  responseMode="ExecuteURL"  />
  </httpErrors>

  <modules  runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>