.CheckoutBox {
    border-width: 2px;
    border-style: solid;
    min-height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 5%;
}

.CheckoutTitle {
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
}
.checkoutbody {
    position: absolute;
    height: 50%;
    width: 500px;
}

.checkoutend {
    position: fixed;
    left: 41%;
    top: 44%
}